
/* Estilos generales del header y navbar */
/* .navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

.navbar-brand img {
    max-width: 100%;
    height: auto;
    border: 1px solid #898a8c;
}

.navbar-toggler-icon {
    color: rgb(122, 170, 225);
}

.navbar-toggler {
    border-color: #719ece;
}

.nav-link {
    color: #5185bc;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #5b93cf;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(210, 230, 247);/* Color de fondo */
}

h1{

    text-align: center;
    margin-top: 60px;
    color: #1561b2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 h1:hover{
    color: #3e84ce;
 }

.card-header {
    background-color: #ffffff; 
}

.card-body {
    background-color: #c2aeae; 
    border: 1px solid #8d9194; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

/* Estilos del carousel */
#carouselExampleFade {
    margin-top: 20px; 
}

.carousel-inner {
    border-radius: 10px;
}

.carousel-item img {
    height: 400px; 
    object-fit:scale-down ; 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #7ab5e2; 
}

/* Estilos de la sección 1 */
.container.my-5 {
    background-color: #ffffff; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

/* Estilos del footer */


a {
    color: #3082da;
    text-decoration: none; 
    transition: color 0.3s ease; 
}

a:hover {
    color: #0f63a7; 
}

footer {
    background-color: #43474b;
    color: #ffffff;
    padding: 10px 0;
    margin-top: auto;
}