/* Estilos generales */
.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    max-width: 100%;
    height: auto;
}

.navbar-toggler-icon {
    color: rgb(122, 170, 225);
}

.navbar-toggler {
    border-color: #719ece;
}

.nav-link {
    color: #5185bc;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #5b93cf;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(210, 230, 247);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



/* Estilos para la sección "APRENDE1" */
.bloque1 {

    color: #000000;
    text-align: center;
    padding: 20px;
    
}
.bloque1:hover{
    background-color: #eadbdb;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.bloque1 h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.bloque1 h3 {
    font-size: 1.2em;
}

/* Estilos para la sección "admin" */
.wrap {
    margin-top: 20px;
}

.nav-tabs {
    background-color: rgb(255, 255, 255); 
    border-bottom: 1px solid #dee2e6; 
}



.nav-tabs .nav-link.active {
    background-color: #67a1de; 
    color: #ffffff; 
}


footer {
    background-color: #43474b;
    color: #ffffff;
    padding: 10px 0;
    margin-top: auto;
}